* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

:root {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  --color-main: #5059B1;
  --color-yellow: #EAE370;
  color: var(--color-main);
}

.button {
  padding: 0px 20px 0px 20px;
  height: 61px;
  white-space: nowrap;
  font-size: 1rem;
  line-height: 1rem;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

.button:hover,
.button:focus {
  background-color: var(--color-yellow);
  color: var(--color-main);
}

.button:active {
  -webkit-transform: scale(0.97);
     -moz-transform: scale(0.97);
      -ms-transform: scale(0.97);
       -o-transform: scale(0.97);
          transform: scale(0.97);
}

.border-y {
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  border: 1px solid var(--color-yellow);
}

.border-w {
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  border: 1px solid white;
}

.border-w:hover {
  border: 1px solid var(--color-yellow);
}

.border-b {
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  border: 1px solid var(--color-main);
}

a,
button,
svg {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.fcc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  font-size: 60px;
  line-height: 82px;
}

.title a {
  font-size: inherit;
}

.about__body {
  margin-top: 0px;
  font-size: 24px;
  line-height: 33px;
}

.about__categories {
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.about .about__category + .about__category {
  margin-left: 23px;
}

.about__category {
  white-space: nowrap;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  padding: 0px 20px;
  font-size: 40px;
  line-height: 63px;
  border: 1px solid rgba(80, 89, 177, 0.2);
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
}

.about__category._open {
  border: 1px solid var(--color-main);
}

.about__category:hover {
  border: 1px solid var(--color-yellow);
}

.about-tab {
  display: none;
}

.about-tab._open {
  display: block;
}

.about-picture {
  margin-top: 55px;
  width: 100%;
  height: 500px;
}

.about-picture img {
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-container {
  margin-top: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.about-container .card:nth-child(n) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 50%;
}

.about-container .card:nth-child(2) {
  margin-left: 40px;
}

.card {
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  padding: 31px 26px 30px 26px;
}

.card-icon {
  min-height: 364px;
}

.card-icon__icon {
  margin-top: 46px;
  width: 100px;
  height: 100px;
}

.card-icon__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card-gray {
  background: #F4F4F4;
}

.card-title {
  font-size: 40px;
  line-height: 54px;
}

.card-text {
  min-height: 364px;
  height: auto;
}

.card-text__text {
  margin-top: 29px;
}

.card-blue {
  background: var(--color-main);
  color: white;
}

.text-blocks {
  margin-top: 10px;
}

.text-block {
  max-width: 1053px;
  margin-top: 37px;
}

.card-picture {
  margin-top: 68px;
  max-width: 1053px;
  overflow: hidden;
  position: relative;
  min-height: 250px;
  background: url("../img/about_page/picture-bg.png") bottom -100px right/cover no-repeat;
}

.card-picture__body {
  color: white;
}

.card-picture__text {
  max-width: 647px;
  margin-top: 28px;
}

.stories {
  margin-top: 55px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  color: white;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  overflow: hidden;
}

.stories__info {
  padding: 35px 26px 58px 30px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 48.75%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 48.75%;
          flex: 0 0 48.75%;
  max-width: 48.75%;
  background: url("../img/about_page/picture-2.png") center/cover no-repeat;
}

.stories__story {
  padding: 35px 26px 37px 35px;
  background: #0094D9;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stories__text {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  max-width: 100%;
}

.stories__logo {
  margin-top: 30px;
  width: 278.29px;
  height: 54.38px;
}

.stories__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.stories__author {
  margin-top: 20px;
}

.card-result {
  margin-top: 36px;
  max-width: 1053px;
  background: #EAE370;
  min-height: 500px;
}

.card-result__content {
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.card-result__column {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  -webkit-flex: 0 1 50%;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 50%;
}

.card-result__column:nth-child(1) {
  margin-right: 20px;
}

.card-result__number {
  font-size: 120px;
  line-height: 163px;
}

.card-result__description {
  max-width: 448px;
  margin-top: 20px;
}

.header {
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 52px 40px;
  background-color: white;
  position: fixed;
  z-index: 100;
}

.header__body {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__logo {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__logo img {
  width: 527.1px;
  height: 61px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__phone {
  margin-left: 30px;
  margin-right: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone .header__phone-icon {
  width: 24px;
  height: 24px;
}

.header__phone .header__phone-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__phone .header__phone-number {
  padding: 10px;
  white-space: nowrap;
}

.header__phone .header__phone-number:hover {
  color: var(--color-yellow);
}

.header__btn {
  margin-right: 87px;
  display: inline;
  padding: 0px 20px 8px 20px;
}

.header__burger {
  position: absolute;
  z-index: 101;
  top: 0px;
  right: 0px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid var(--color-yellow);
  width: 64px;
  height: 61px;
}

.header__burger svg {
  stroke: var(--color-main);
}

.header__burger:hover {
  background-color: var(--color-yellow);
}

.header__burger #burger {
  width: 25px;
  height: 24px;
}

.header__burger #close {
  width: 25px;
  height: 24px;
  display: none;
}

.header__menu {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  margin-top: 53px;
  z-index: 100;
  background-color: white;
  position: fixed;
  top: -2px;
  left: 0px;
  width: 100%;
  width: -webkit-calc(100% + 4px);
  width: -moz-calc(100% + 4px);
  width: calc(100% + 4px);
  height: auto;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  max-width: 1610px;
}

.header._open .header__menu {
  opacity: 1;
  visibility: visible;
}

.header._open .header__burger {
  border: unset;
}

.header._open .header__burger #burger {
  display: none;
}

.header._open .header__burger #close {
  display: block;
}

.menu {
  padding: 61px 26px 82px 26px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__column > :nth-child(2) {
  margin-top: 45px;
}

.menu__column:not(:last-child) {
  margin-right: 180px;
}

.menu__column:nth-child(2) {
  margin-right: 210px;
}

.menu__title {
  font-weight: 700;
  margin-bottom: 10px;
}

.menu__item {
  white-space: nowrap;
  line-height: 167%;
}

.menu__item:hover {
  color: var(--color-yellow);
}

.follow__icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.follow__icon {
  border: 1px solid var(--color-main);
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  width: 40px;
  height: 35px;
}

.follow__icon svg {
  fill: var(--color-main);
}

.follow__icon:not(:first-child) {
  margin-left: 13px;
}

.follow__icon:hover {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border: 1px solid var(--color-yellow);
}

.follow__icon:hover svg {
  fill: var(--color-yellow);
}

.buttons__title {
  font-size: 40px;
  line-height: 54px;
}

.buttons__body {
  margin-top: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-btn {
  margin-right: 20px;
  background-color: var(--color-main);
  position: relative;
}

.blog-btn .buttons__title {
  position: relative;
  z-index: 2;
  max-width: 358px;
  color: white;
}

.blog-btn::after {
  position: absolute;
  top: 18px;
  right: 10px;
  content: '';
  width: 263px;
  height: 263px;
  background: url("../img/buttons/blog-bg.png") center/cover no-repeat;
}

.blog-btn,
.faq-btn {
  height: 300px;
  padding: 30px 0px 0px 26px;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 50%;
}

.faq-btn {
  margin-left: 20px;
}

.faq-btn .buttons__title {
  max-width: 358px;
}

.contacts {
  margin-top: 80px;
}

.contacts__body {
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__form {
  margin-right: 41px;
}

.contacts__info {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  max-width: 100%;
  padding: 24px 26px 48px 26px;
  line-height: 33px;
}

.contacts__map {
  margin-top: 40px;
  height: 259px;
  width: 100%;
}

.form {
  width: 506px;
}

.form .input {
  padding: 7px 26px 8px 26px;
  font-size: 24px;
  line-height: 40px;
  width: 100%;
  border: 1px solid var(--color-yellow);
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  color: var(--color-main);
  margin-top: 28px;
}

.form .input::-webkit-input-placeholder {
  color: var(--color-main);
}

.form .input:-moz-placeholder {
  color: var(--color-main);
}

.form .input::-moz-placeholder {
  color: var(--color-main);
}

.form .input:-ms-input-placeholder {
  color: var(--color-main);
}

.form .input::-ms-input-placeholder {
  color: var(--color-main);
}

.form .input::placeholder {
  color: var(--color-main);
}

.form .input:first-child {
  margin-top: 0px;
}

.form .input:focus,
.form .input:active {
  border: 1px solid var(--color-main);
}

.form .input._error {
  border: 1px solid #dd2221;
}

.form .input-textarea {
  line-height: 30px;
  height: 136px;
}

.form .form-btn {
  color: white;
  width: 100%;
  height: 48px;
  border: 1px solid var(--color-yellow);
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  margin-top: 28px;
  background-color: var(--color-yellow);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.form .form-btn:hover {
  background-color: var(--color-main);
  color: var(--color-yellow);
}

.form .form-btn:focus {
  -webkit-box-shadow: 0px 0px 30px -10px var(--color-yellow);
     -moz-box-shadow: 0px 0px 30px -10px var(--color-yellow);
          box-shadow: 0px 0px 30px -10px var(--color-yellow);
}

.form .form-btn:active {
  -webkit-transform: scale(0.97);
     -moz-transform: scale(0.97);
      -ms-transform: scale(0.97);
       -o-transform: scale(0.97);
          transform: scale(0.97);
}

.footer {
  margin-top: 86px;
  padding-bottom: 60px;
}

.footer__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.footer__info {
  margin-right: 40px;
}

.footer__logo {
  width: 503px;
  height: 59px;
}

.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__copyright {
  margin-left: 78px;
  margin-top: 34px;
  font-size: 18px;
  line-height: 25px;
}

.footer__menu {
  font-size: 18px;
  margin-right: 84px;
}

.footer__menu .menu {
  padding: 0;
  margin-top: 10px;
  width: 720px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__menu .menu__column > :nth-child(2) {
  margin-top: 45px;
}

.footer__menu .menu__column:not(:last-child) {
  margin-right: 0px;
}

.footer__menu .menu__column:nth-child(2) {
  margin-right: 0px;
}

.footer__menu .menu .follow {
  margin-top: 25px;
}

.footer__menu .menu .menu__item {
  padding: 7px 0px;
}

body {
  background-color: white;
  width: 100%;
  height: 100%;
}

body._block {
  overflow: hidden;
}

html {
  font-size: 24px;
  overflow-y: scroll;
}

button,
a {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

main {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  margin-top: 166px;
}

main._block {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  padding: 0px 40px;
}

.cookies {
  width: 100%;
  position: fixed;
  z-index: 101;
  bottom: 10px;
  left: 0;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
}

.cookies a {
  text-decoration: underline;
}

.cookies__body {
  background-color: white;
  max-width: 1600px;
  margin: 0 auto;
  padding: 36px 39px 40px 26px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cookies__info {
  max-width: 1060px;
  font-size: 18px;
  line-height: 25px;
  padding-right: 30px;
}

.cookies__title {
  font-weight: 700;
}

.cookies__btn {
  width: 136px;
  height: 53px;
}

.cookies__btn span {
  margin-top: -4px;
}

.cookies._close {
  display: none;
}

.arrow-top {
  position: fixed;
  z-index: 20;
  bottom: 20px;
  right: 20px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

.arrow-top:hover {
  -webkit-box-shadow: 0px 0px 30px -10px var(--color-yellow);
     -moz-box-shadow: 0px 0px 30px -10px var(--color-yellow);
          box-shadow: 0px 0px 30px -10px var(--color-yellow);
}

@media (max-width: 1450px) {
  .about__category {
    padding: 0px 10px;
    font-size: 24px;
    line-height: 43px;
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: 40px;
    line-height: 54px;
  }

  .about__body {
    margin-top: 0px;
  }

  .about__categories {
    margin-top: 20px;
  }

  .about .about__category + .about__category {
    margin-left: 15px;
  }

  .about-picture {
    margin-top: 71px;
  }

  .about-container {
    margin-top: 40px;
    -webkit-box-align: unset;
    -webkit-align-items: unset;
       -moz-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }

  .card {
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    padding: 21px 26px 25px 20px;
  }

  .card-picture {
    background: url("../img/about_page/picture-bg.png") bottom -120px right -120px/1115px auto no-repeat;
  }

  .card-icon {
    min-height: 500px;
  }

  .card-icon__icon {
    margin-top: 125px;
  }

  .card-text {
    min-height: 500px;
  }

  .card-result__column {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 50%;
  }

  .card-result__column:nth-child(1) {
    margin-right: 30px;
  }

  .card-result__number {
    font-size: 100px;
    line-height: 140px;
  }

  .header {
    padding: 52px 40px 35px 40px;
  }

  .header__logo img {
    width: 362.92px;
    height: 42px;
  }

  .header__phone {
    margin-left: 10px;
    margin-right: 10px;
  }

  .header__btn {
    margin-right: 83px;
  }

  .header__menu {
    margin-top: 17px;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
    width: 100%;
    padding: 0px 15px;
    min-height: 100%;
    height: 100%;
    padding-bottom: 30px;
  }

  .header__burger {
    top: -3px;
  }

  .menu {
    padding: 61px 26px 60px 26px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    overflow-y: scroll;
  }

  .menu__column {
    width: 100%;
    max-width: 270px;
  }

  .menu__column:not(:first-child) {
    margin-top: 30px;
  }

  .menu__column:not(:last-child) {
    margin-right: 0px;
  }

  .menu__column:nth-child(3) {
    margin-top: 60px;
  }

  .menu__column:nth-child(1) > :nth-child(2) {
    margin-top: 45px;
  }

  .menu__column > :nth-child(2) {
    margin-top: 27px;
  }

  .menu .menu__item {
    padding: 7px 0px;
  }

  .blog-btn {
    overflow: hidden;
  }

  .blog-btn::after {
    top: 83px;
    right: -24px;
  }

  .faq-btn .buttons__title {
    width: 209px;
  }

  .contacts {
    margin-top: 43px;
  }

  .contacts__body {
    margin-top: 42px;
  }

  .contacts__form {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 48%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    max-width: 48%;
    margin-right: 41px;
  }

  .contacts__info {
    max-width: 100%;
    padding: 24px 20px 27px 23px;
    font-size: 18px;
    line-height: 25px;
  }

  .contacts__map {
    margin-top: 40px;
    height: 259px;
    width: 100%;
  }

  .form {
    width: 100%;
  }

  .form .input {
    padding: 12px 26px 12px 26px;
    font-size: 18px;
    line-height: 30px;
  }

  .footer {
    margin-top: 70px;
    padding-bottom: 40px;
  }

  .footer__info {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0px;
  }

  .footer__logo {
    width: 453px;
    height: 53px;
  }

  .footer__copyright {
    margin-left: 70px;
  }

  .footer__menu {
    overflow: hidden;
    width: 100%;
    margin-right: 40px;
  }

  .footer__menu .menu {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 50px 0px 0px 70px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__menu .menu .menu__column:nth-child(2),
  .footer__menu .menu .menu__column:nth-child(3) {
    margin-top: 0px;
  }

  main {
    margin-top: 140px;
  }
}

@media (max-width: 950px) {
  .button {
    padding: 5px 10px;
  }

  .header {
    padding: 21px 40px 27px 40px;
  }

  .header__logo {
    padding-right: 66px;
  }

  .header__logo img {
    height: 26px;
    width: 224px;
  }

  .header__phone {
    display: none;
  }

  .header__btn {
    display: none;
  }

  .header__burger {
    top: -5px;
    width: 39px;
    height: 37px;
  }

  .header__burger #burger {
    width: 16px;
    height: 15px;
  }

  .header__burger #close {
    width: 16px;
    height: 15px;
  }

  .header__menu {
    margin-top: 17px;
  }

  .header._open .header__burger {
    border: unset;
  }

  .menu {
    padding: 30px 16px 30px 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }

  html {
    font-size: 18px;
  }

  main {
    margin-top: 74px;
  }
}

@media (max-width: 900px) {
  .about__body {
    font-size: 18px;
    line-height: 25px;
  }

  .about__categories {
    margin-top: 0px;
  }

  .about__category {
    display: none;
  }

  .about-picture {
    margin-top: 10px;
    height: 250px;
  }

  .about-picture img {
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
  }

  .about-container {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about-container .card:nth-child(n) {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .about-container .card:nth-child(2) {
    margin-left: 0px;
  }

  .about-container .card:nth-child(1) {
    margin-top: 20px;
  }

  .card {
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    padding: 22px 15px 21px 15px;
  }

  .card-icon {
    min-height: 283px;
  }

  .card-icon__icon {
    margin-top: 45px;
    width: 68px;
    height: 68px;
  }

  .card-title {
    font-size: 24px;
    line-height: 33px;
  }

  .card-text {
    min-height: 283px;
  }

  .card-text__text {
    margin-top: 19px;
  }

  .text-block {
    margin-top: 23px;
  }

  .card-picture {
    margin-top: 20px;
    min-height: 500px;
    background: url("../img/about_page/picture-bg.png") bottom -40px right -45px/1115px auto no-repeat;
  }

  .card-picture__text {
    margin-top: 25px;
  }

  .stories {
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    min-height: 200px;
  }

  .stories__info {
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
       -moz-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    max-width: 100%;
    height: auto;
  }

  .stories__story {
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
       -moz-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    max-width: 100%;
    height: auto;
  }

  .stories__text {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
       -moz-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    max-width: auto;
  }

  .stories__logo {
    margin-top: 20px;
    width: 150px;
    height: 54.38px;
  }

  .stories__author {
    margin-top: 10px;
  }

  .card-result__body {
    min-height: 200px;
  }

  .card-result__content {
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .card-result__column {
    margin-top: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .card-result__number {
    font-size: 60px;
    line-height: 60px;
  }

  .card-result__description {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 33px;
  }

  .header {
    padding: 21px 15px 27px 15px;
  }

  .buttons__title {
    font-size: 24px;
    line-height: 33px;
  }

  .buttons__body {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .blog-btn {
    margin-right: 0px;
  }

  .blog-btn .buttons__title {
    max-width: 132px;
  }

  .blog-btn::after {
    position: absolute;
    top: 18px;
    right: -24px;
    width: 164px;
    height: 164px;
  }

  .blog-btn,
  .faq-btn {
    min-height: 200px;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    padding: 17px 0px 0px 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .faq-btn {
    margin-top: 20px;
    margin-left: 0px;
  }

  .faq-btn .buttons__title {
    max-width: 132px;
  }

  .contacts {
    margin-top: 20px;
  }

  .contacts__body {
    margin-top: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts__form {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0px;
  }

  .contacts__info {
    margin-top: 18px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding: 15px 15px 21px 15px;
    font-size: 14px;
    line-height: 19px;
  }

  .contacts__map {
    margin-top: 10px;
  }

  .form {
    width: 100%;
  }

  .form .input {
    padding: 12px 26px 12px 10px;
    margin-top: 13px;
  }

  .form .input-textarea {
    line-height: 25px;
  }

  .form .form-btn {
    height: 48px;
    margin-top: 13px;
  }

  .footer {
    margin-top: 33px;
    padding-bottom: 30px;
  }

  .footer__logo {
    width: 238px;
    height: 29px;
  }

  .footer__copyright {
    margin-top: 10px;
    margin-left: 38px;
    font-size: 14px;
    line-height: 19px;
  }

  .footer__menu {
    overflow: hidden;
    width: 100%;
  }

  .footer__menu .menu {
    height: auto;
    margin: -30px 0px 0px 38px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .footer__menu .menu .menu__column {
    margin-top: 50px;
  }

  .footer__menu .menu .menu__column:nth-child(2),
  .footer__menu .menu .menu__column:nth-child(3) {
    margin-top: 40px;
  }

  .footer__menu .menu .menu__item {
    padding: 0px;
  }

  .container {
    padding: 0px 15px;
  }

  .cookies__body {
    margin: 0px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .cookies__info {
    padding-right: 0px;
  }

  .cookies__title {
    font-weight: 700;
  }

  .cookies__btn {
    margin-top: 20px;
    width: 136px;
    height: 46px;
  }

  .arrow-top {
    display: none;
  }
}

.webp .card-picture { background: url(../img/about_page/picture-bg.webp) bottom -100px right/cover no-repeat; }

.webp .stories__info { background: url(../img/about_page/picture-2.webp) center/cover no-repeat; }

.webp .blog-btn::after { background: url(../img/buttons/blog-bg.webp) center/cover no-repeat; }

@media (max-width: 1024px) {

  .webp .card-picture { background: url(../img/about_page/picture-bg.webp) bottom -120px right -120px/1115px auto no-repeat; }
}

@media (max-width: 900px) {

  .webp .card-picture { background: url(../img/about_page/picture-bg.webp) bottom -40px right -45px/1115px auto no-repeat; }
}